@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */


/* shared properties */
body{
    margin:0;
}
.custom-color-button{
    font-family: 'Poppins', sans-serif;
    background-color:#FF5959;
    padding:15px 30px;
    color:white;
    border:none;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing:1px;
}
.custom-color-button:hover{
    background-color: white;
    color:#FF5959;
    border:3px solid #FF5959;
}


/* showcase-secion */
#showcase{
    background-image: url('../images/donation4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height:669px;
    color:white;
    text-align: center;
    position: relative;
}
.showcase-overlay{
    position:absolute;
    height:100%;
    width: 100%;
    background-color: rgba(31, 28, 28, 0.6);
}
.showcase-content{
    padding:120px 0;
}
#showcase h1{
    font-family: 'Inter', sans-serif;
    font-size:40px;
    padding:0 340px;
}
#showcase p{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    padding:10px 450px;
}




/* donation-section */
#donation{
    padding:100px 350px;
    text-align: center;
}
#donation h2,#donation-plan h2{
    font-family: 'Inter', sans-serif;
    font-size:35px;
}
#donation p,#donation-plan .heading-paragraph{
    font-family: 'Poppins', sans-serif;
    color:#707070;
    padding:0 120px;
}
.amount-list{
    display: flex;
    justify-content: space-between;
    margin:50px 0;
}
.amount-list-item{
    font-family: 'Inter', sans-serif;
    width:18%;
    padding:50px 0;
    background-color: #FAFAFA;
    color:#707070;
    font-size:25px;
    font-weight: bold;
    border-radius: 10px;
}
.custom-style-amount-list-item{
  border: 3px solid #FF5959;
  color:#FF5959;
  background-color: #FFEEEE;
}
#donation input{
  display:block;
  width: 100%;
  text-align: center;
  border:none;
  border-bottom: 2px solid #DADADA;
  font-family: 'Poppins', sans-serif;
  padding:5px 0;
  margin-bottom:20px;
}
#donation input::placeholder{
    font-family: 'Poppins', sans-serif; 
    color:#B3B3B3;
    font-size: 16px;
    letter-spacing: 1px;
}


#donation-plan{
    text-align: center;
    padding:0 200px;
}
.donate-plan-list{
    display:flex;
    justify-content: space-between;
    text-align: left;
    margin:50px 0;
}
.donate-plan-list-item{
    width:27%;
    padding:40px 20px;
    border-radius: 10px;
}
.donate-plan-list-item h3{
    font-size: 20px;
    font-family:'Poppins', sans-serif;
}
.donate-plan-list-item p{
    font-family:'Poppins', sans-serif;
    color:#707070;
    font-size: 14px;
}
.donate-plan-list-item:nth-child(1){
   background-color:#4F9DA61A;
}
.donate-plan-list-item:nth-child(2){
   background-color: #FF59591A;
}
.donate-plan-list-item:nth-child(3){
   background-color: rgba(250, 149, 117, 0.4);
}
.donate-plan-list-item:nth-child(3) img{
    height: 54px;
    width: 54px;
}