@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Poppins&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */


/* shared properties */
body{
    margin:0;
}
.custom-color-button{
    font-family: 'Poppins', sans-serif;
    background-color:#FF5959;
    padding:15px 30px;
    color:white;
    border:none;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing:1px;
}
.custom-color-button:hover{
    background-color: white;
    color:#FF5959;
    border:3px solid #FF5959;
}


/* showcase-secion */
#showcase{
    background-image: url('../images/donation4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height:740px;
    color:white;
    text-align: center;
    position: relative;
}
.showcase-overlay{
    position:absolute;
    height:100%;
    width: 100%;
    background-color: rgba(31, 28, 28, 0.6);
}
.showcase-content{
    padding:170px 0;
}
#showcase h1{
    font-family: 'Inter', sans-serif;
    font-size:40px;
    padding:0 340px;
}
#showcase p{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    padding:10px 450px;
}




/* donation-section */
#donation{
    padding:70px 350px;
    text-align: center;
}
#donation h2,#donation-plan h2,#get-update h2,#latest-donation h2{
    font-family: 'Inter', sans-serif;
    font-size:35px;
}
#donation p,#donation-plan .heading-paragraph, #get-update p{
    font-family: 'Poppins', sans-serif;
    color:#707070;
    padding:0 120px;
}
.amount-list{
    display: flex;
    justify-content: space-between;
    margin:50px 0;
}
.amount-list-item{
    font-family: 'Inter', sans-serif;
    width:18%;
    padding:50px 0;
    background-color: #FAFAFA;
    color:#707070;
    font-size:25px;
    font-weight: bold;
    border-radius: 10px;
}
.custom-style-amount-list-item{
  border: 3px solid #FF5959;
  color:#FF5959;
  background-color: #FFEEEE;
}
#donation input{
  display:block;
  width: 100%;
  text-align: center;
  border:none;
  border-bottom: 2px solid #DADADA;
  font-family: 'Poppins', sans-serif;
  padding:5px 0;
  margin-bottom:20px;
  font-size:20px;
  color:#FF5959;
  font-weight: bold;
}
#donation input:focus{
        outline:none;
        font-size:20px;
        color:#FF5959;
        font-weight: bold;
}
#donation input::placeholder{
    font-family: 'Poppins', sans-serif; 
    color:#B3B3B3;
    font-size: 16px;
    letter-spacing: 1px;
}

/* donation plan section */
#donation-plan{
    text-align: center;
    padding:0 200px;
    margin-bottom: 100px;
}
.donate-plan-list{
    display:flex;
    justify-content: space-between;
    text-align: left;
    margin:50px 0;
}
.donate-plan-list-item{
    width:27%;
    padding:40px 20px;
    border-radius: 10px;
}
.donate-plan-list-item h3{
    font-size: 20px;
    font-family:'Poppins', sans-serif;
}
.donate-plan-list-item p{
    font-family:'Poppins', sans-serif;
    color:#707070;
    font-size: 14px;
}
.donate-plan-list-item:nth-child(1){
   background-color:#4F9DA61A;
}
.donate-plan-list-item:nth-child(2){
   background-color: #FF59591A;
}
.donate-plan-list-item:nth-child(3){
   background-color: rgba(250, 149, 117, 0.4);
}
.donate-plan-list-item:nth-child(3) img{
    height: 54px;
    width: 54px;
}


/* latest donation section */
#latest-donation{
    padding:0 150px;
    text-align: center;
}
.donars-list{
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}
.donar{
    width:22%;
    background-color: #f3ebeb;
    border-radius: 20px;
}
.donar img{
    width:60%;
    height:150px;
    object-fit: cover;
    margin:20px 0 10px;
    border-radius: 50%;
}
.donar-name{
    font-family: 'Poppins', sans-serif;
    font-size:24px;
    margin:0;
}
.donation-time{
    color:#707070;
    font-size: 14px;
    margin:0;
}
.donation-amount{
    display: flex;
    margin-top:20px;
}
.donation-amount-box{
    width: 50%;
    text-align: center;
    margin:0;
    padding:10px 0;
}
.amount-level{
    border-bottom-left-radius: 20px;
    background-color:#e1d9d9 ;
    color:rgb(93, 89, 89)
}
.amount{
    background-color: #FF5959;
    border-bottom-right-radius:20px ;
    color:white
}

/* get upadate section */

#get-update{
    text-align: center;
    padding:70px 350px;
}
#get-update input{
    padding:17px 30px;
    border:none;
    border-radius: 10px 0 0 10px;
    background-color: #D9D9D9;
    color:#FF5959;
    letter-spacing: 1px;
}
#get-update input:focus{
    outline: none;
    color:#FF5959;
}
#get-update button{
    margin-left:-5px;
    border-radius:0 10px 10px 0;
}
#get-update button:hover{
    padding:13px 30px;
}
.email-box{
    background-color:#FFF4D6;
    padding:100px 200px;
    margin-top:40px;
    border-radius: 10px;
}


/* footer section */

footer{
    text-align: center;
    background-color: #0B0D17;
}
.footer-quote1{
    font-family: 'Lobster', cursive;
    color:#FF5959;
    font-size: 40px;
    margin:0;
    padding:30px 0 10px 0;
}
.footer-quote2{
    font-family: 'Poppins', sans-serif; 
    font-size: 14px;
    color: #D9DBE1;
    margin:0;
    padding-bottom:30px;
}